/* Fonts Link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  margin: 0;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  font-weight: 400;
  color: #413d4b;
  line-height: 1;
  background-color: #fff;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

a {
  text-decoration: none;
}

/* Container */
.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  width: 100%;
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 1000;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 47px;
}

.header__inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner .nav .nav__link {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  -webkit-transition: .2s color;
  -o-transition: .2s color;
  transition: .2s color;
}

.header__inner .nav .nav__link:hover {
  color: #fff;
}

.header__inner .nav .nav__link + .nav__link {
  margin-left: 20px;
}

.header__inner .contact {
  text-align: right;
}

.header__inner .contact a {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  -webkit-transition: .2s color;
  -o-transition: .2s color;
  transition: .2s color;
}

.header__inner .contact a:hover {
  color: #fff;
}

.header__inner .contact .contact__mail {
  margin-bottom: 5px;
}

/* Intro */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/intro_bg.jpg);
  height: 501px;
  padding-top: 65px;
}

.intro .title {
  margin-bottom: 32px;
  font-size: 75px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -1px;
}

.intro .suptitle {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}

/* Sec1 */
.sec1 {
  padding: 90px 0;
}

.sec1 .sec1__inner-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Sec1__inner-1 */
.sec1__inner-1 .video {
  position: relative;
  width: 723px;
  height: 406px;
  border-radius: 5px;
  background-color: #f4f4fa;
}

.sec1__inner-1 .video .play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: url(../img/play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 104px;
  height: 104px;
}

.sec1__inner-1 .form {
  width: 347px;
}

.sec1__inner-1 .form .title {
  margin-bottom: 30px;
  font-size: 27px;
  color: #000;
  font-weight: 700;
}

.sec1__inner-1 .form input {
  width: 100%;
  margin-bottom: 30px;
  padding: 21.5px 0 21.5px 25px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

.sec1__inner-1 .form input:focus::-webkit-input-placeholder {
  color: #000;
}

.sec1__inner-1 .form input:focus:-ms-input-placeholder {
  color: #000;
}

.sec1__inner-1 .form input:focus::-ms-input-placeholder {
  color: #000;
}

.sec1__inner-1 .form input:focus::placeholder {
  color: #000;
}

.sec1__inner-1 .form input::-webkit-input-placeholder {
  font-size: 16px;
}

.sec1__inner-1 .form input:-ms-input-placeholder {
  font-size: 16px;
}

.sec1__inner-1 .form input::-ms-input-placeholder {
  font-size: 16px;
}

.sec1__inner-1 .form input::placeholder {
  font-size: 16px;
}

.sec1__inner-1 .form input.mail {
  margin-bottom: 27px;
}

/* btn */
.btn {
  display: block;
  width: 100%;
  padding: 19px 69px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(168deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: -o-linear-gradient(168deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: linear-gradient(-78deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
}

.btn:hover {
  background-image: -webkit-linear-gradient(168deg, #40e6ff 0%, #a740ff 35%, #4045ff 70%, #ff40f8 100%);
  background-image: -o-linear-gradient(168deg, #40e6ff 0%, #a740ff 35%, #4045ff 70%, #ff40f8 100%);
  background-image: linear-gradient(-78deg, #40e6ff 0%, #a740ff 35%, #4045ff 70%, #ff40f8 100%);
}

/* Sec2 */
.sec2 {
  position: relative;
}

.sec2 .sec2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 105px;
  background-image: url(../img/sec1__inner-2.jpg);
  height: 318px;
}

.sec2 .sec2__inner .title {
  margin-bottom: 10px;
  font-size: 44px;
  color: #fff;
  font-weight: 700;
}

.sec2 .sec2__inner .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sec2 .sec2__inner .txt span {
  padding-right: 9px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
}

.sec2 .sec2__inner .txt .suptitle {
  font-size: 18px;
  font-weight: 700;
  background: -webkit-linear-gradient(-78deg, #ff40f8 0%, #cf97ff 35%, #40c7ff 70%, #40e6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Sec3 */
.sec3 {
  margin-top: -159px;
  padding: 267px 0 110px;
  background-color: #f4f4fa;
}

.sec3 .title {
  margin-bottom: 70px;
  font-size: 55px;
  color: #000;
  font-weight: 700;
}

.sec3 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sec3 .card .card__item {
  width: 33.33333%;
}

.sec3 .card .card__item .number {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  background: -webkit-linear-gradient(-51deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec3 .card .card__item .title {
  margin-bottom: 10px;
  font-size: 30px;
}

.sec3 .card .card__item .text {
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  color: #000;
  font-weight: 600;
  line-height: 25px;
}

.sec3 .card .card__item:nth-child(1) .number:before, .sec3 .card .card__item:nth-child(2) .number:before,
.sec3 .card .card__item:nth-child(4) .number:before, .sec3 .card .card__item:nth-child(5) .number:before {
  display: block;
  content: '';
  width: 230px;
  height: 7px;
  position: absolute;
  right: 10px;
  bottom: 50px;
  background-image: url(../img/s3_line.png);
}

.sec3 .card .card__item:nth-child(2) .text, .sec3 .card .card__item:nth-child(3) .text {
  margin-right: 90px;
}

.sec3 .card .card__item:nth-child(4) .text {
  margin-right: 40px;
}

.sec3 .card .card__item:nth-child(1), .sec3 .card .card__item:nth-child(2), .sec3 .card .card__item:nth-child(3) {
  margin-bottom: 70px;
}

/* Sec4 */
.sec4 {
  padding: 95px 0;
}

.sec4 .title {
  font-size: 55px;
  color: #000;
  font-weight: 700;
}

/* Sec4 Block */
.sec4 .block {
  padding-top: 55px;
}

.sec4 .block .block__head {
  position: relative;
  padding-left: 45px;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(173deg, #a740ff 0%, #4045ff 50%, #4dc1d2 100%);
  background-image: -o-linear-gradient(173deg, #a740ff 0%, #4045ff 50%, #4dc1d2 100%);
  background-image: linear-gradient(-83deg, #a740ff 0%, #4045ff 50%, #4dc1d2 100%);
}

.sec4 .block .block__head .title {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}

.sec4 .block .block__head .title:first-child {
  padding-right: 123px;
}

.sec4 .block .block__head .title span:last-child {
  display: none;
}

.sec4 .block .block__head:before {
  display: block;
  content: '';
  width: 580px;
  height: 100%;
  background-image: url(../img/s4_head_bg.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

.sec4 .block .block__head::after {
  display: block;
  content: '';
  width: 115px;
  height: 120px;
  background-image: url(../img/s4_icon1.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

.sec4 .block .block__content {
  overflow: hidden;
  position: relative;
  padding: 37px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 147px;
  background-color: #e4e5ee;
}

.sec4 .block .block__content:hover {
  -webkit-box-shadow: 0 0 38px rgba(45, 75, 94, 0.26);
  box-shadow: 0 0 38px rgba(45, 75, 94, 0.26);
  cursor: pointer;
  z-index: 1;
}

.sec4 .block .block__content:nth-child(even) {
  background-color: #f4f4fa;
}

.sec4 .block .block__content .title {
  font-size: 18px;
  line-height: 24px;
}

.sec4 .block .block__content .title:first-child {
  font-weight: 700;
  letter-spacing: -0.1px;
}

.sec4 .block .block__content .title:first-child span:last-child {
  display: none;
}

.sec4 .block .block__content .title:last-child {
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  letter-spacing: -0.2px;
  width: calc(100% - 427px);
}

.sec4 .block {
  position: relative;
}

.sec4 .block:before {
  display: block;
  content: '';
  background-color: #4b85ff;
  background-image: -webkit-gradient(linear, right top, left top, from(#ff40f8), color-stop(35%, #a740ff), color-stop(70%, #4045ff), to(#40e6ff));
  background-image: -webkit-linear-gradient(right, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: -o-linear-gradient(right, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: linear-gradient(to left, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 5px;
  position: absolute;
  right: 0;
  bottom: -5px;
}

/* Sec4 Bird */
.sec4 .bird {
  position: relative;
  margin-top: 52px;
  background-image: -webkit-linear-gradient(168deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: -o-linear-gradient(168deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: linear-gradient(-78deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  border-radius: 5px;
  padding: 1px;
}

.sec4 .bird::before {
  display: block;
  content: '';
  width: 187px;
  height: 209px;
  position: absolute;
  right: 40px;
  bottom: -78px;
  background-image: url(../img/s4_icon2.png);
}

.sec4 .bird .bird__inner {
  padding: 37px 45px;
  height: 147px;
  background: #fff;
  border-radius: 5px;
}

.sec4 .bird .bird__inner .text {
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  color: #000;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.15px;
}

/* Sec4 Form-Block */
.sec4 .form_block {
  position: relative;
  padding-left: 92px;
  padding-right: 50px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-image: url(../img/s5_bg.jpg);
  background-size: cover;
  -webkit-box-shadow: 0 44px 46px rgba(194, 195, 204, 0.15);
  box-shadow: 0 44px 46px rgba(194, 195, 204, 0.15);
  background-color: #e4e5ee;
  height: 318px;
}

.sec4 .form_block .block {
  padding-top: 0;
}

.sec4 .form_block .block .title {
  font-size: 60px;
}

.sec4 .form_block .block:before {
  display: none;
}

.sec4 .form_block .form {
  width: 300px;
}

.sec4 .form_block .form input {
  margin-bottom: 20px;
  padding-left: 25px;
  width: 100%;
  height: 60px;
  display: block;
  border-radius: 5px;
  border: 1px solid #d7d8e1;
  background-color: #e4e5ee;
}

.sec4 .form_block .form input::-webkit-input-placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec4 .form_block .form input:-ms-input-placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec4 .form_block .form input::-ms-input-placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec4 .form_block .form input::placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec4 .form_block .form input:focus::-webkit-input-placeholder {
  color: #000;
}

.sec4 .form_block .form input:focus:-ms-input-placeholder {
  color: #000;
}

.sec4 .form_block .form input:focus::-ms-input-placeholder {
  color: #000;
}

.sec4 .form_block .form input:focus::placeholder {
  color: #000;
}

.sec4 .form_block .form .btn {
  padding: 21px 46px;
}

/* Sec5 */
.sec5 {
  margin-top: -260px;
  padding-top: 260px;
  padding-bottom: 120px;
  background-color: #f4f4fa;
}

.sec5 .title {
  margin-bottom: 50px;
  font-size: 55px;
  color: #000;
  font-weight: 700;
}

.sec5 .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.sec5 .card .card__item {
  padding-left: 30px;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

.sec5 .card .card__item .title {
  margin-bottom: 0;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}

.sec5 .card .card__item:nth-child(1) {
  background-image: url(../img/s5_bg1.png);
}

.sec5 .card .card__item:nth-child(2) {
  background-image: url(../img/s5_bg2.png);
}

.sec5 .card .card__item:nth-child(3) {
  background-image: url(../img/s5_bg3.png);
}

/* Sec6 */
.cases .mob-title {
  display: none;
}

.sec6 {
  padding-top: 102px;
  padding-bottom: 113px;
}

.sec6 .title {
  font-size: 55px;
  color: #fff;
}

.sec6 {
  background-image: url(../img/s6_bg.png);
  background-size: cover;
}

.sec6 .block, .sec7 .block, .sec8 .block {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sec6 .block:last-child, .sec7 .block:last-child, .sec8 .block:last-child {
  margin-top: 43px;
  margin-right: 0;
  display: block;
}

.sec6 .block .title, .sec7 .block .title, .sec8 .block .title {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 700;
}

.sec6 .block .suptitle, .sec7 .block .suptitle, .sec8 .block .suptitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.sec6 .block, .sec8 .block {
  margin-right: 440px;
}

.sec6 .block .title, .sec6 .block .suptitle, .sec8 .block .title, .sec8 .block .suptitle {
  color: #fff;
}

/* Sec7 */
.sec7 {
  padding-top: 70px;
  padding-bottom: 111px;
  background-color: #f4f4fa;
}

.sec7 .container {
  padding-right: 10px;
}

.sec7 {
  background-image: url(../img/s7_bg.png);
  background-size: cover;
}

.sec7 .block {
  margin-left: 440px;
}

.sec7 .block .title, .sec7 .block .suptitle {
  font-family: 'Proxima Nova Lt';
  color: #000;
  font-weight: 600;
}

.sec7 .block .title {
  letter-spacing: 1px;
  background: -webkit-linear-gradient(167deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background: -o-linear-gradient(167deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background: linear-gradient(-77deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Sec8 */
.sec8 {
  padding-top: 70px;
  padding-bottom: 103px;
  background-image: url(../img/s8_bg.png);
  background-size: cover;
}

.sec8 .block:last-child {
  margin-top: 42px;
}

.sec8 .block:last-child .title {
  margin-bottom: 15px;
}

.sec8 .block:last-child .suptitle {
  margin-bottom: 13px;
}

/* Sec9 */
.sec9 {
  padding-top: 102px;
  padding-bottom: 114px;
}

.sec9 .title {
  margin-bottom: 40px;
  font-size: 55px;
  color: #000;
  font-weight: 700;
}

.sec9 .suptitle {
  font-size: 18px;
  color: #808080;
  font-weight: 400;
  line-height: 24px;
}

.sec9 .suptitle span {
  font-family: 'Proxima Nova Lt';
  color: #000;
  font-weight: 600;
}

/* Sec9 Card1 */
.sec9 .card1 {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sec9 .card1 .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.sec9 .card1 .card__item {
  width: 33.33333%;
}

.sec9 .card1 .card__item:nth-child(2), .sec9 .card1 .card__item:nth-child(5), .sec9 .card1 .card__item:nth-child(8), .sec9 .card1 .card__item:nth-child(11) {
  padding-left: 9px;
}

.sec9 .card1 .card__item:nth-child(6) {
  padding-left: 20px;
}

.sec9 .card1 .card__item .title {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 18px;
  color: #808080;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.05px;
}

.sec9 .card1 .card__item:nth-child(2) .title {
  margin-top: 3px;
}

.sec9 .card1 .card__item .number {
  margin-top: 45px;
  font-size: 50px;
  font-weight: 700;
}

.sec9 .card1 .card__item .number a {
  background-image: -webkit-linear-gradient(159deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: -o-linear-gradient(159deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  background-image: linear-gradient(-69deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec9 .card1 .card__item .suptitle {
  position: relative;
  margin-top: 13px;
  margin-bottom: 0;
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  color: #000;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.05px;
}

.sec9 .card1 .card__item .suptitle::before {
  display: block;
  content: '';
  background-image: url(../img/s9_circle.png);
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  left: -14px;
}

.sec9 .card1 .card__item:nth-child(8) {
  margin-top: 32px;
}

.sec9 .card1 .card__item:nth-child(9) .bird {
  padding: 23px 29px;
  position: relative;
  top: 125px;
  left: 21px;
  width: 346px;
  height: 141px;
  border-radius: 5px;
  background-color: #e4e5ee;
}

.sec9 .card1 .card__item:nth-child(9) .bird .suptitle {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px;
}

.sec9 .card1 .card__item:nth-child(9) .bird .suptitle:before {
  display: none;
}

.sec9 .card1 .card__item:nth-child(9) .bird:before {
  display: block;
  content: '';
  background-image: url(../img/s9_bird.png);
  background-repeat: no-repeat;
  width: 137px;
  height: 114px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.sec9 .card1 .card__item:nth-child(10) .suptitle {
  margin-top: 45px;
}

.sec9 .card1 .card__item:nth-child(11) .suptitle {
  margin-top: 6px;
}

.sec9 .block {
  display: none;
}

/* Sec10 */
.sec10 {
  padding: 101px 0;
  background-image: url(../img/s10_bg.jpg);
}

.sec10 .title {
  font-size: 75px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -1.8px;
}

/* Sec11 */
.sec11 {
  padding-top: 103px;
  padding-bottom: 120px;
}

.sec11 .title {
  margin-bottom: 20px;
  font-size: 55px;
  color: #000;
  font-weight: 700;
}

.sec11 .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.sec11 .form input {
  height: 60px;
  padding-left: 26px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

.sec11 .form input::-webkit-input-placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec11 .form input:-ms-input-placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec11 .form input::-ms-input-placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec11 .form input::placeholder {
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.sec11 .form input:focus::-webkit-input-placeholder {
  color: #000;
}

.sec11 .form input:focus:-ms-input-placeholder {
  color: #000;
}

.sec11 .form input:focus::-ms-input-placeholder {
  color: #000;
}

.sec11 .form input:focus::placeholder {
  color: #000;
}

.sec11 .form .btn {
  height: 60px;
}

/* Footer Contact */
.footer .contact {
  padding-top: 54px;
  padding-bottom: 48px;
  background-color: #f4f4fa;
}

.footer .contact .block {
  width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .contact .block span, .footer .contact .block a {
  margin-bottom: 10px;
  font-family: Montserrat;
  display: block;
  font-size: 18px;
}

.footer .contact .block .subtitle {
  color: #808080;
}

.footer .contact .block .contact__phone {
  margin-bottom: 7px;
}

.footer .contact .block a {
  color: #000;
  font-weight: 600;
}

.footer .contact .block .block__item:nth-child(2) {
  padding-left: 112px;
}

/* Footer Pol */
.footer .pol {
  padding: 26px 0;
  background-color: #e4e5ee;
  text-align: center;
}

.footer .pol .subtitle {
  font-family: Montserrat;
  font-size: 13px;
  color: #808080;
  font-weight: 400;
}

/* Burger Menu */
#burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#burger-menu.active .box_item1 {
  -webkit-transform: translateX(0) translateY(8px) rotate(45deg);
  -ms-transform: translateX(0) translateY(8px) rotate(45deg);
  transform: translateX(0) translateY(8px) rotate(45deg);
}

#burger-menu.active .box_item2 {
  opacity: 0;
}

#burger-menu.active .box_item3 {
  -webkit-transform: translateX(0) translateY(-8px) rotate(-45deg);
  -ms-transform: translateX(0) translateY(-8px) rotate(-45deg);
  transform: translateX(0) translateY(-8px) rotate(-45deg);
}

#burger-menu .box {
  width: 28px;
  height: 4px;
  background: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  margin: 4px 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.show_mobile_menu {
  opacity: 1 !important;
  left: 0 !important;
}

#mobile-menu {
  opacity: 0;
  position: fixed;
  left: -100%;
  top: 0;
  width: 61%;
  height: 100vh !important;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

#mobile-menu .block {
  width: 100%;
}

#mobile-menu .block ul {
  margin: 0;
  padding-left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

#mobile-menu .block ul li {
  width: 100%;
  padding-left: 21px;
  border-bottom: 1px solid #dfe1e5;
}

#mobile-menu .block ul li a {
  font-family: 'Proxima Nova Lt';
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0;
  display: block;
  color: #000;
  position: relative;
}

#mobile-menu .block ul li:last-child {
  border-bottom: 0;
}

@media (max-width: 767px) {
  .btn {
    padding: 19px 56px;
  }
  .header {
    position: absolute;
    top: 30px;
  }
  .header__inner .nav,
  .header__inner .contact {
    display: none;
  }
  #burger-menu {
    display: block;
  }
  .intro {
    height: 620px;
  }
  .intro .title {
    font-size: 44px;
    line-height: 46px;
  }
  .intro .suptitle {
    font-size: 18px;
    line-height: 22px;
  }
  .sec1 .sec1__inner-1 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sec1 .sec1__inner-1 .video {
    margin-bottom: 21px;
    width: 100%;
    height: 180px;
  }
  .sec1 .sec1__inner-1 .video .play {
    width: 48px;
    height: 48px;
  }
  .sec2 .sec2__inner {
    position: relative;
    height: 508px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 25px;
    padding-left: 27px;
  }
  .sec2 .sec2__inner:before {
    display: block;
    content: '';
    background-image: url(../img/s2_bgbefore.png);
    width: 320px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .sec3 {
    min-width: 100%;
    margin-top: -257px;
    padding-top: 335px;
    padding-bottom: 85px;
  }
  .sec3 .title {
    margin-bottom: 40px;
    font-size: 44px;
  }
  .sec3 .card .card__item {
    width: 100%;
  }
  .sec3 .card .card__item .number::before {
    display: none;
  }
  .sec3 .card .card__item .text {
    letter-spacing: -0.3px;
  }
  .sec3 .card .card__item:nth-child(1) .number:before, .sec3 .card .card__item:nth-child(2) .number:before,
  .sec3 .card .card__item:nth-child(3) .number:before, .sec3 .card .card__item:nth-child(4) .number:before,
  .sec3 .card .card__item:nth-child(5) .number:before, .sec3 .card .card__item:nth-child(6) .number:before {
    display: block;
    content: '';
    background-image: url(../img/s3_line-mobile.png);
    width: 7px;
    height: 33px;
    position: absolute;
    left: 27px;
    top: -35px;
  }
  .sec3 .card .card__item:nth-child(1) .number:before {
    display: none;
  }
  .sec3 .card .card__item:nth-child(1), .sec3 .card .card__item:nth-child(2), .sec3 .card .card__item:nth-child(3), .sec3 .card .card__item:nth-child(4), .sec3 .card .card__item:nth-child(5), .sec3 .card .card__item:nth-child(6) {
    margin-bottom: 40px;
  }
  .sec3 .card .card__item:last-child {
    margin-bottom: 0;
  }
  .sec4 {
    background: transparent;
  }
  .sec4 .title {
    font-size: 44px;
  }
  .sec4 .title span, .sec4 .title br {
    display: none;
  }
  .sec4 .block .block__head {
    padding-left: 15px;
  }
  .sec4 .block .block__head .title {
    padding-left: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .sec4 .block .block__head .title span:first-child, .sec4 .block .block__head .title br {
    display: none;
  }
  .sec4 .block .block__head .title span:last-child {
    display: block;
  }
  .sec4 .block .block__head .title b {
    display: block;
  }
  .sec4 .block .block__head .title:first-child {
    padding-right: 80px;
  }
  .sec4 .block .block__head::after {
    width: 92px;
  }
  .sec4 .block .block__head:before {
    display: none;
  }
  .sec4 .block .block__content {
    padding: 40px 12px;
  }
  .sec4 .block .block__content .title:first-child {
    width: calc(100% - 165px);
    font-size: 12px;
    line-height: 16px;
  }
  .sec4 .block .block__content .title:first-child span:last-child {
    display: block;
  }
  .sec4 .block .block__content .title:first-child span:last-child b {
    display: block;
  }
  .sec4 .block .block__content .title:last-child {
    width: calc(100% - 120px);
    font-size: 12px;
    line-height: 16px;
  }
  .sec4 .block .block__content .title:last-child span, .sec4 .block .block__content .title:last-child br {
    display: none;
  }
  .sec4 .block .block__content:nth-child(2) .title:last-child,
  .sec4 .block .block__content:nth-child(7) .title:last-child {
    padding-right: 15px;
  }
  .sec4 .block .block__content:nth-child(4) .title b {
    display: block;
  }
  .sec4 .block .block__content:nth-child(5) .title:first-child {
    padding-right: 10px;
  }
  .sec4 .block .block__content:nth-child(5) .title:last-child {
    letter-spacing: -0.3px;
  }
  .sec4 .block .block__content:nth-child(8) .title:first-child {
    padding-right: 35px;
  }
  .sec4 .block .block__content:nth-child(9) .title b {
    display: inline-block;
  }
  .sec4 .block .block__content:nth-child(11) .title:last-child,
  .sec4 .block .block__content:nth-child(12) .title:last-child {
    letter-spacing: -0.3px;
  }
  .sec4 .bird .bird__inner {
    height: 357px;
    padding: 25px 28px;
  }
  .sec4 .bird .bird__inner .text {
    font-size: 17px;
    line-height: 23px;
  }
  .sec4 .bird:before {
    bottom: -100px;
  }
  .sec4 .form_block {
    display: block;
    height: auto;
    margin-top: 185px;
    padding: 48px 12px;
    padding-bottom: 60px;
  }
  .sec4 .form_block .block .title {
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 46px;
  }
  .sec4 .form_block .form {
    width: 100%;
  }
  .sec4 .form_block .form .btn {
    padding: 21px 44px;
  }
  .sec5 {
    width: 100% !important;
    padding-top: 235px;
    padding-bottom: 30px;
  }
  .sec5 .title {
    width: 320px;
    margin: 0 auto 59px;
    font-size: 44px;
    line-height: 46px;
  }
  .sec5 .container {
    width: 100% !important;
  }
  .sec5 .bx-wrapper {
    max-width: 100% !important;
  }
  .sec5 .card {
    display: block;
  }
  .sec5 .card .card__item {
    height: 164px;
    margin-left: 15px;
  }
  .sec5 .card .card__item .title {
    font-size: 28px;
    line-height: 30px;
  }
  .sec5 .card .card__item .title br {
    display: none;
  }
  .cases {
    background: #f4f4fa;
  }
  .cases .mob-title {
    margin-left: 15px;
    margin-bottom: 50px;
    display: block;
    font-size: 44px;
    font-weight: 700;
    color: #000;
    line-height: 46px;
  }
  .cases .bx-wrapper {
    max-width: 100% !important;
  }
  .mob_slider {
    height: 100%;
  }
  .mob_slider > div {
    height: 811px;
    padding: 50px 0;
    padding-left: 27px;
    padding-right: 35px;
    margin-left: 15px;
    border-radius: 5px;
  }
  .mob_slider > div .container {
    width: 100% !important;
  }
  .mob_slider > div .title {
    display: none;
  }
  .mob_slider > div .block {
    display: block;
    margin: 0;
  }
  .mob_slider > div .block .block__item:last-child {
    margin-top: 40px;
  }
  .mob_slider > div .block .title {
    display: block;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
  }
  .mob_slider > div .block .subtitle {
    color: #fff !important;
  }
  .mob_slider > div .block:last-child {
    margin-top: 40px;
  }
  .mob_slider > .sec6 .block .title br, .mob_slider > .sec6 .block .suptitle br, .mob_slider .sec7 .block .title br, .mob_slider .sec7 .block .suptitle br, .mob_slider .sec8 .block .title br, .mob_slider .sec8 .block .suptitle br {
    display: none;
  }
  .sec6 {
    background-image: url(../img/mob_s6_bg.jpg);
  }
  .sec7 {
    background-image: url(../img/mob_s6_bg-2.jpg);
  }
  .sec7 .block .suptitle {
    color: #fff;
  }
  .sec9 .title {
    font-size: 44px;
  }
  .sec9 .suptitle {
    margin-bottom: 30px;
  }
  .sec9 .container {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 15px;
  }
  .sec9 .bx-wrapper {
    max-width: 100% !important;
  }
  .sec9 .mob2_slider .block {
    display: block;
    padding: 35px 28px;
    height: 589px;
    border-radius: 5px;
    background-color: #e4e5ee;
  }
  .sec9 .mob2_slider .block .block__item {
    margin-bottom: 23px;
  }
  .sec9 .mob2_slider .block .block__item img {
    margin-bottom: 15px;
  }
  .sec9 .mob2_slider .block .block__item .title {
    margin-bottom: 24px;
    margin-bottom: 0;
    padding-right: 75px;
    font-size: 14px;
    color: #808080;
    font-weight: 400;
    line-height: 21px;
  }
  .sec9 .mob2_slider .block .block__item .number {
    margin-bottom: 6px;
    font-size: 50px;
    font-weight: 700;
  }
  .sec9 .mob2_slider .block .block__item .number a {
    background-image: -webkit-linear-gradient(159deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
    background-image: -o-linear-gradient(159deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
    background-image: linear-gradient(-69deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sec9 .mob2_slider .block .block__item .subtitle {
    padding-right: 20px;
    font-family: 'Proxima Nova Lt';
    color: #000;
    font-weight: 600;
    line-height: 21px;
  }
  .sec9 .mob2_slider .block {
    margin-right: 15px;
  }
  .card1 {
    display: none !important;
  }
  .sec10 .title {
    padding-left: 10px;
    font-size: 44px;
    line-height: 46px;
  }
  .sec11 {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .sec11 .title {
    font-size: 44px;
  }
  .sec11 .form {
    display: block;
  }
  .sec11 .form input {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .contact .block {
    display: block;
    width: 100%;
  }
  .footer .contact .block .block__item {
    margin-bottom: 35px;
    padding-left: 15px;
  }
  .footer .contact .block .block__item:last-child {
    margin-bottom: 0;
  }
  .footer .contact .block .block__item:nth-child(2) {
    padding-left: 15px;
  }
  .container {
    width: 320px !important;
    padding-left: 0;
    padding-right: 0;
  }
  header,
  section,
  footer {
    width: 100% !important;
    overflow-y: hidden;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .intro .suptitle {
    padding-right: 20px;
  }
  header,
  section,
  footer {
    width: 320px !important;
  }
}
